@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
:root {
    --fundo_principal: #FFF0C4;
    --fundo-secundario: #3E0703;
    --color-tittle: #660B05;
    --color-link: #8C1007;
    --font-tittle:  font-family: "Imperial Script", cursive;
}